body {
    background-color: rgba(255, 255, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(40, 40, 40);
    /*margin-left: 15%;
    margin-right: 15%;*/
}

/*navigation bar*/
ul#navigationbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(100, 220, 230);
}

#navigationbar input[type=text] {
    float: right;
    padding: 10px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}

.bar {
    float: left;
}

.bar a{
    display: block;
    text-align: center;
    padding:20px;
    color: white;
    text-decoration: none;
}

.bar a:hover {
    background-color:rgb(50, 210, 220);
    line-height: 15px;
}

/*end of navigation bar*/

.parent {
    position: relative;
    top: 0;
    left: 0;
}
.image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
}
.image2 {
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px green solid;
}